body {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    
}

#first {
    align-self: flex-start;
    flex-grow: 1;
    transition: 2s ease;
    background: #a51401;
    background: -moz-linear-gradient(top,  #a51401 0%, #4096ee 100%);
    background: -webkit-linear-gradient(top,  #a51401 0%,#4096ee 100%);
    background: linear-gradient(to bottom,  #a51401 0%,#4096ee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a51401', endColorstr='#4096ee',GradientType=0 );
}

#last {
    align-self: flex-end;
    flex-grow: 1;
    transition: 2s ease;
    background: #fcd200;
    background: -moz-linear-gradient(top,  #fcd200 0%, #8fc800 100%);
    background: -webkit-linear-gradient(top,  #fcd200 0%,#8fc800 100%);
    background: linear-gradient(to bottom,  #fcd200 0%,#8fc800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd200', endColorstr='#8fc800',GradientType=0 );

}

#first:hover {
    -o-transform: translate(124px, 124px);
    -ms-transform: translate(124px, 124px);
    -moz-transform: translate(124px, 124px);
    -webkit-transform: translate(124px, 124px);
    transform: translate(124px, 124px);
}

#last:hover {
    -o-transform: skew(-20deg, 20deg) scale(1.3) translate(15px, 20px);
    -ms-transform: skew(-20deg, 20deg) scale(1.3) translate(15px, 20px);
    -moz-transform: skew(-20deg, 20deg) scale(1.3) translate(15px, 20px);
    -webkit-transform: skew(-20deg, 20deg) scale(1.3) translate(15px, 20px);
    transform: skew(-20deg, 20deg) scale(1.3) translate(15px, 20px);
}

.static {
    align-self: center;
    flex-grow: 1;
    z-index: 1;
    margin: 10px;
    background-color: red;
}

.outer {
    width: 800px;
    height: 430px;
    background-color: #d4d1d1;
    display: flex;
    justify-content: space-around;
}

.outer > div {
    width: 180px;
    height: 180px;
    border: 1px solid black;
}
